services:
  windows:
    image: dockurr/windows
    container_name: windows
    restart: 'always'
    environment:
      VERSION: "11"
      USERNAME: "Administrator"
      PASSWORD: "123"
      RAM_SIZE: "4G"
      CPU_CORES: "2"
    volumes:
      - /var/win11:/storage
    devices:
      - /dev/kvm
    cap_add:
      - NET_ADMIN
    ports:
      - 8006:8006
      - 3389:3389/tcp
      - 3389:3389/udp
    stop_grace_period: 2m
